<div class='addPost-container'>
  <h1>Add Post</h1>
  <form
    id='addPost-form'
    method='POST'
    action='/api/posts'
    enctype='multipart/form-data'
  >
    <input type='text' name='title' placeholder='Title  *required' />
    <textarea
      type='text'
      name='desc'
      placeholder='Description  *required'
    ></textarea>
    <input id='add-post-image' type='file' name='image' />
    <select name='existing_categories'>
      <option value='' disabled selected>Pick a category</option>
      {{#each categories as |category|}}
        <option
          data-category-id={{category.id}}
          value='{{category.id}}'
        >{{category.category_name}}</option>
      {{/each}}

    </select>
    <button id='add-post' type='submit'>Post</button>
  </form>
  {{! // }}
  {{! Image Filters }}
  <div>
    <h1>Image filter test</h1>
    <img
      id='image-test'
      style='width: 300px;'
      src='./images/test-image.PNG'
      alt=''
    />
    <div id='filter-options'>
      <button data-filter='sepia' class='filterBtn'>Sepia</button>
      <button data-filter='invert' class='filterBtn'>Invert</button>
      <button data-filter='grayscale' class='filterBtn'>Grayscale</button>
      <button data-filter='red-tint' class='filterBtn'>Red tint</button>
      <button data-filter='blue-tint' class='filterBtn'>Blue tint</button>
      <button data-filter='purple-tint' class='filterBtn'>Purple tint</button>
      <button data-filter='orange-tint' class='filterBtn'>Orange tint</button>
    </div>
  </div>
  {{! Image Filters }}
  {{! // }}
  <h1>Add new Category</h1>
  <form id='addCategory-form' method='POST' action='/api/category'>
    <input name='category_name' type='text' placeholder='Enter new category' />
    <button id='add-category' type='submit'>Post</button>
  </form>
</div>
<hr id='dashboardHr' />
<h1 id='your-posts'>Your posts</h1>
<div id='dashboard-posts'>
  {{! posts.forEach(post) }}
  {{#if posts}}{{else}}
    <p id='no-posts'>You have not uploaded any posts</p>
  {{/if}}

  {{#each posts as |post|}}
    <div id='single-post'>
      <div id='post-header' class='Category_name_here'>
        <p id='post-title'>{{post.title}}</p>
        <p id='post-date'>Posted by
          {{post.user.username}}
          on
          {{format_date post.created_at}}</p>
      </div>
      <div id='post-icon-wrapper'>
        <div id='chat-icon-wrapper'>
          <img id='chat-icon' src='./images/comment.png' alt='' />
          <p>{{checkCounter post.comments}}</p>
        </div>
        <div id='like-icon-wrapper'>
          <img class='like-icon' src='./images/like.png' alt='' />
          <p>{{checkCounter post.likes}}</p>
        </div>
      </div>
      <img id='post-image' src='{{post.image_url}}' alt='{{post.title}}' />
      <p id='post-body'>
        {{post.body}}
      </p>
      <div id='post-controls'>
        <button
          data-post-id='{{post.id}}'
          class='edit-post-id'
          id='edit-post-{{post.id}}'
        >Edit post</button>
        <button
          data-post-id='{{post.id}}'
          class='delete-post-{{post.id}}'
          id='delete-post-1'
        >Delete post</button>
        <button
          data-post-id='{{post.id}}'
          id='view-comments-{{post.id}}'
          class='view-comments'
        >View comments</button>
        <button
          data-post-id='{{post.id}}'
          class='confirm-post'
          id='confirm-post-{{post.id}}'
        >Confirm</button>
        <p id='edit-post-status'>Make sure the new post title and body are
          greater than 4 characters</p>
      </div>
    </div>
  {{/each}}
</div>
<script src='./javascript/filters.js'></script>