<div id='homepage-posts' class='container-fluid'>
  {{!-- <div class="row"> --}}
  <div class="row spacing">
  {{#each posts as |post|}}
    <div id='single-post-wrapper' class='col-sm-12 col-md-4 col-xl-3 p-1 m-2 mb-4'>
      <a id='single-post' href='/post/{{post.id}}'>
        <div id='post-header' class='{{post.category_name}}'>
          <p id='post-category'>{{post.category_name}}</p>
          <p id='post-date'>{{post.user.username}}
            -
            {{format_date post.created_at}}</p>
        </div>
        <img id='post-image' src='{{post.image_url}}' alt='{{post.title}}' />
        <div id='post-body-wrapper'>
          <h4 id='post-title'>{{post.title}}</h4>
          <p id='post-body'>
            {{post.body}}
          </p>
        </div>
      </a>
      <div id='post-icon-wrapper'>
        <div id='chat-icon-wrapper'>
          <img id='chat-icon' src='./images/comment.png' alt='' />
          <p>{{checkCounter post.comments}}</p>
        </div>
        <div id='like-icon-wrapper'>
          <img
            data-post-id='{{post.id}}'
            class='like-icon'
            src='./images/like.png'
            alt=''
          />
          <p>{{checkCounter post.likes}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
<script src='./javascript/handle-likes.js'></script>