<div id='page-singlepost'>
  <div id='single-post'>
    <div id='post-header' class='{{post.category_name}}'>
              <p id='post-category'>{{post.category_name}}</p>
          <p id='post-date'>
            {{post.user}}
            -
            {{format_date post.date}}</p>
    </div>
    <img id='post-image' src='/{{post.image}}' alt='{{post.title}}' />
    <div id='post-body-wrapper'>
      <h4 id='post-title'>{{post.title}}</h4>
      <p id='post-body'>{{post.description}}</p>
    </div>
  </div>
  <form id='comment-form'>
    {{#if loggedIn}}
      <textarea id='comment-field' placeholder='Add comment'></textarea>
      <h1 id='comment-status'>Required character count above 4</h1>
      <button type='submit'>Submit</button>
    {{else}}
      <textarea
        id='comment-field'
        disabled='true'
        placeholder='To comment on the post you must be logged in.'
      ></textarea>
    {{/if}}
  </form>
  <hr id='comment-section-divider' />
  <div id='comment-section'>
    {{#if post.comments}}
      {{#each post.comments as |comment|}}
        {{#if comment.usersComment}}
        <div id="single-comment" class="users-comment">
        <div id="comment-control">
          <p id="new-comment-status">Make sure the comment is greater than 4 characters</p>
          <button data-comment-id="{{comment.commentId}}" id="confirm-comment-{{comment.commentId}}" class='confirm-comment'>Confirm</button>
          <button data-comment-id="{{comment.commentId}}" id="edit-comment-{{comment.commentId}}" class='edit-comment'>Edit</button>
          <button data-comment-id="{{comment.commentId}}" id="delete-comment-{{comment.commentId}}" class='delete-comment'>Delete</button>
        </div>
        {{else}}
        <div id='single-comment'>
  
          {{/if}}
          <div id='comment-wrapper'>
            <p id='user'>{{comment.user}}</p>
            <p id='comment'>{{comment.text}}</p>
          </div>
          <p id='comment-date'>{{format_date comment.date}}</p>
        </div>
      {{/each}}
    {{else}}
      <p>No comments posted</p>
    {{/if}}
  </div>
</div>
